<header id="header">
    <a id="logo" routerLink=""><img src="../assets/img/logo.png" alt=" "></a>
    <nav  id="nav">
        
        <button  aria-label="Abrir Menu" id="btn-mobile" aria-haspopup="true" aria-controls="menu"
        aria-activedescendant="false">
        <span id="hamburger"></span>
    </button> 
        <ul id="menu" role="menu">
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Pesquisar" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
           <li>
               
               <a class="menu" routerLink="">home</a>
           </li> 
           <li>
               
               <a class="menu" routerLink="jogos">Jogos</a>
           </li> 
           <li>
               
               <a class="menu" routerLink="pcgames">Pc Games</a>
           </li> 
           <li>
               
               <a class="menu" routerLink="galeria"><img src="../assets/img/camera.png" alt=""></a>
           </li> 
           <li>
               
               <a class="menu" routerLink="login"><img src=" ../assets/img/entrar 1.png" alt=""></a>
           </li> 
           <li>
               
            <a class="menu" routerLink=""><img src="../assets/img/carrinho 3.png " alt=" ">
                <span id="marcador" 
                style="font-size: 12px; color: black; display: flex; margin-top: -40px; margin-left: 15px;">
                0</span>
            </a>
           </li> 
        </ul>
    </nav>
</header>  


