
    <h2 class="foto">Nossa Galeria</h2> <!-- subtituloda sessão-->

    <section class="galeria"> <!--sessão de imagens galeria-->
        <div class="ft">
            <img class="gl" src="../assets/img/img1 1.png" alt="">
            
        </div>
        <div class="ft">
            <img class="gl" src="../assets/img/img2 (1).png" alt="">
            
        </div>
        <div class="ft">
            <img class="gl" src="../assets/img/img3.png" alt="">
            
        </div>
        <div class="ft">
            <img class="gl" src="../assets/img/img4.png" alt="">
            
        </div>
        <div class="ft">
            <img class="gl" src="../assets/img/img5.png" alt="">
            
        </div>
        <div class="ft">
            <img class="gl" src="../assets/img/img6.png" alt="">
            
        </div>
        
    </section>
    <app-footer></app-footer>



