
<!--sessão pc-games 1-->
<div class="banner-3">
    <img src="../assets/img/banner3.png" class="img-fluid" alt="logo do banner">
</div> 
<h4 class="pc">PC GAMES / VARIEDADES</h4>
<section class="pc-games1">
    <div class="sessão-pc">
        <img class="img-pc" src="../assets/img/teclado.png" alt=" ">
        <a href="pcgames"><p>Combo Gamer-Evolut</p></a>
        <a class="valor" href="#">R$ 269,90</a>
        <div class="botões">
           <a href="pcgames"><button type="button" class="btn btn-outline-primary click">
                comprar
            </button></a>
        </div>
        <div class="botões">
           <a href="pcgames"><button onclick="contarProdutos()" type="button" class="btn btn-outline-primary click">
                adicionar
            </button></a>
        </div>
    </div>
    <div class="sessão-pc">
        <img class="img-pc" src="../assets/img/mousepad.png" alt=" ">
        <a href="pcgames"><p>Mousepad Gamer </p></a>
        <a class="valor" href="pcgames">R$ 134,90</a>
        <div class="botões">
           <a href="pcgames"><button type="button" class="btn btn-outline-primary click">
                comprar
            </button></a>
        </div>
        <div class="botões">
          <a href="pcgames"><button onclick="contarProdutos()" type="button" class="btn btn-outline-primary click">
                adicionar
            </button></a>
        </div>
    </div>
    <div class="sessão-pc">
        <img class="img-pc" src="../assets/img/mouse1 (2).png" alt=" ">
        <a href="pcgames"><p>Mouse Xgamer Fire</p></a>
        <a class="valor" href="pcgames">R$ 67,50</a>
        <div class="botões">
            <a href="pcgames"><button type="button" class="btn btn-outline-primary click">
                comprar
            </button></a>
        </div>
        <div class="botões">
            <a href="pcgames"><button onclick="contarProdutos()" type="button" class="btn btn-outline-primary click">
                adicionar
            </button></a>
        </div>
    </div>
    <div class="sessão-pc">
        <img class="img-pc" src="../assets/img/cadeira-pc1.png" alt=" ">
        <a href="pcgames"><p>Cadeira Gamer</p></a>
        <a class="valor" href="pcgames">R$ 1.125,00</a>
        <div class="botões">
            <a href="pcgames"><button type="button" class="btn btn-outline-primary click">
                comprar
            </button></a>
        </div>
        <div class="botões">
            <a href="pcgames"><button onclick="contarProdutos()" type="button" class="btn btn-outline-primary click">
                adicionar
            </button></a>
        </div>
    </div>
    <div class="sessão-pc">
        <img class="img-pc" src="../assets/img/fone-clamuflado.png" alt=" ">
        <a href="pcgames"><p>Headset  K18 </p></a>
        <a class="valor" href="pcgames">R$ 179,90</a>
        <div class="botões">
            <a href="pcgames"><button type="button" class="btn btn-outline-primary click">
                comprar
            </button></a>
        </div>
        <div class="botões">
            <a href="pcgames"><button onclick="contarProdutos()" type="button" class="btn btn-outline-primary click">
                adicionar
            </button></a>
        </div>
    </div>
</section>

<!--sessão pc-games 2-->

<section class="pc-games1">
    <div class="sessão-pc">
        <img class="img-pc" src="../assets/img/mouse-roxo .png" alt="">
        <a href="pcgames"><p>Mouse Gamer 6200dpi</p></a>
        <a class="valor" href="pcgames">R$ 225,00</a>
        <div class="botões">
            <a href="pcgames"><button  type="button" class="btn btn-outline-primary click">
                comprar
            </button></a>
        </div>
        <div class="botões">
            <a href="pcgames"><button onclick="contarProdutos()" type="button" class="btn btn-outline-primary click">
                adicionar
            </button></a>
        </div>
    </div>
    <div class="sessão-pc">
        <img class="img-pc" src="../assets/img/teclado-gm1.png" alt="">
        <a href="pcgames"><p>Teclado Gamer </p></a>
        <a class="valor" href="pcgames">R$ 340,00</a>
        <div class="botões">
            <a href="pcgames"><button type="button" class="btn btn-outline-primary click">
                comprar
            </button></a>
        </div>
        <div class="botões">
            <a href="pcgames"><button onclick="contarProdutos()" type="button" class="btn btn-outline-primary click">
                adicionar
            </button></a>
        </div>
    </div>
    <div class="sessão-pc">
        <img class="img-pc" src="../assets/img/placade-video.png" alt="">
        <a href="pcgames"><p>Placa De Video </p></a>
        <a class="valor" href="pcgames">R$ 7.856,64</a>
        <div class="botões">
            <a href="pcgames"><button type="button" class="btn btn-outline-primary click">
                comprar
            </button></a>
        </div>
        <div class="botões">
            <a href="pcgames"><button onclick="contarProdutos()" type="button" class="btn btn-outline-primary click">
                adicionar
            </button></a>
        </div>
    </div>
    <div class="sessão-pc">
        <img class="img-pc" src="../assets/img/cpu-gamer.png" alt="">
        <a href="pcgames"><p>Gabinete Gamer</p></a>
        <a class="valor" href="pcgames">R$ 269,90</a><div class="botões">
            <a href="pcgames"><button type="button" class="btn btn-outline-primary click">
                comprar
            </button></a>
        </div>
        <div class="botões">
            <a href="pcgames"><button onclick="contarProdutos()" type="button" class="btn btn-outline-primary click">
                adicionar
            </button></a>
        </div>
    </div>
    <div class="sessão-pc">
        <img class="img-pc" src="../assets/img/fone-vermelho.png" alt="">
        <a href="pcgames"><p>Headset Gamer</p></a>
        <a class="valor" href="pcgames">R$ 225,00</a>
        <div class="botões">
            <a href="pcgames"><button type="button" class="btn btn-outline-primary click">
                comprar
            </button></a>
        </div>
        <div class="botões">
            <a href="pcgames"><button onclick="contarProdutos()" type="button" class="btn btn-outline-primary click">
                adicionar
            </button></a>
        </div>
    </div>
</section>
<!--sessao pc-games 3-->

<section class="pc-games1">
    <div class="sessão-pc">
        <img class="img-pc" src="../assets/img/computador-gamer 1.png" alt=" ">
        <a href="pcgames"><p>computador</p></a>
        <a class="valor" href="pcgames">R$ 2.500</a>
        <div class="botões">
            <a href="pcgames"><button type="button" class="btn btn-outline-primary click">
                comprar
            </button></a>
        </div>
        <div class="botões">
            <a href="pcgames"><button onclick="contarProdutos()" type="button" class="btn btn-outline-primary click">
                adicionar
            </button></a>
        </div>
    </div>
    <div class="sessão-pc">
        <img class="img-pc" src="../assets/img/pad-mouser.png" alt=" ">
        <a href="pcgames"><p>Mouse Pad Mp-602</p></a>
        <a class="valor" href="pcgames">R$ 161,90</a>
        <div class="botões">
            <a href="pcgames"><button type="button" class="btn btn-outline-primary click">
                comprar
            </button></a>
        </div>
        <div class="botões">
            <a href="pcgames"><button onclick="contarProdutos()" type="button" class="btn btn-outline-primary click">
                adicionar
            </button></a>
        </div>
    </div>
    <div class="sessão-pc">
        <img class="img-pc" src="../assets/img/mouse-caixa.png" alt=" ">
        <a href="pcgames"><p>Mouse Gamer + M.Pad</p></a>
        <a class="valor" href="pcgames">R$ 71,90</a>
        <div class="botões">
            <a href="pcgames"><button type="button" class="btn btn-outline-primary click">
                comprar
            </button></a>
        </div>
        <div class="botões">
            <a href="pcgames"><button onclick="contarProdutos()" type="button" class="btn btn-outline-primary click">
                adicionar
            </button></a>
        </div>
    </div>
    <div class="sessão-pc">
        <img class="img-pc" src="../assets/img/cadeira-preta.png" alt=" ">
        <a href="pcgames"><p>Cadeira Gamer Mx1</p></a>
        <a class="valor" href="pcgames">R$ 809,90</a>
        <div class="botões">
            <a href="pcgames"><button type="button" class="btn btn-outline-primary click">
                comprar
            </button></a>
        </div>
        <div class="botões">
            <a href="pcgames"><button onclick="contarProdutos()" type="button" class="btn btn-outline-primary click">
                adicionar
            </button></a>
        </div>
    </div>
    <div class="sessão-pc">
        <img class="img-pc" src="../assets/img/headset-preto.png" alt=" ">
        <a href="pcgames"><p>Headset Gamer K20</p></a>
        <a class="valor" href="pcgames">R$ 269,900</a>
        <div class="botões">
            <a href="pcgames"><button type="button" class="btn btn-outline-primary click">
                comprar
            </button></a>
        </div>
        <div class="botões">
            <a href="pcgames"><button onclick="contarProdutos()" type="button" class="btn btn-outline-primary click">
                adicionar
            </button></a>
        </div>
    </div>
</section> 
<app-footer></app-footer>

