<div class="cadastro">
    <form >
    <h1 class="nome-cadastro">cadastro</h1>
    <br>
    <label for="nome">Nome</label>
    <br>
    <input class="cadastro-g" type="text" placeholder="Nome">
    <br><br>
    <label for="email">Email</label>
    <br>
    <input class="cadastro-g" type="text" placeholder="Email">
    <br><br>
    <label for="senha">Senha</label>
    <br>
    <input class="cadastro-g" type="text" placeholder="Senha">
    <br><br>
    <label for="confirma senha">Confirma Senha</label>
    <br>
    <input class="cadastro-g" type="text" placeholder="Confirma Senha">
    <br><br>
    <button  class="cadastrado" type="submit">Cadastrar</button>
    
</form>
</div>