
<div class="banner-2">
    <img src="../assets/img/banner2.png" class="img-fluid" alt="logo do banner">
</div> 
<!--sessão jogos ps5-->
<h1 class="ps5">PLAYSTATION 5</h1>
    
<section class="jogos-5">
   <div class="sessão-ps5">
       <img class="img-ps5" src="../assets/img/renatural-ps5 1.png" alt="">
       <a href="jogos"><p>Returnal PS5</p></a>
       <a class="valor" href="jogos">R$251,25</a>
       <div class="botões">
    <a href="jogos"><button type="button" class="btn btn-outline-primary click">
            comprar
        </button></a>
    </div>
    <div class="botoões">
        <a href="jogos"><button onclick="contarProdutos()"  type="button" class="btn btn-outline-primary click">
            adicionar
        </button></a>

    </div>
   </div>
    
   <div class="sessão-ps5">
       <img class="img-ps5" src="../assets/img/village-ps5.png" alt="">
       <a href="jogos"><p>Village Ps5</p></a>
       <a class="valor" href="jogos">R$149,99</a>
       <div class="botões">
        <a href="jogos"><button type="button" class="btn btn-outline-primary click">
            comprar
        </button></a>
    </div>
    <div class="botoões">
        <a href="jogos"><button onclick="contarProdutos()"  type="button" class="btn btn-outline-primary click">
            adicionar
        </button></a>

    </div>
   </div>
    
   <div class="sessão-ps5">
       <img class="img-ps5" src="../assets/img/f1-ps5 1.png" alt="">
       <a href="jogos"><p>Gran Turismo 7 - ps5</p></a>
       <a class="valor" href="jogos">R$ 290,31</a>
       <div class="botões">
        <a href="jogos"><button onclick="contarProdutos()"  type="button" class="btn btn-outline-primary click">
            comprar
        </button></a>
    </div>
    <div class="botoões">
        <a href="jogos"><button onclick="contarProdutos()"  type="button" class="btn btn-outline-primary click">
            adicionar
        </button></a>

    </div>
   </div>
    
   <div class="sessão-ps5">
       <img class="img-ps5" src="../assets/img/homearranha-ps5.png" alt="">
       <a href="jogos"><p> Spider-Man - ps5</p></a>
       <a class="valor" href="jogos">R$ 179,90</a>
       <div class="botões">
        <a href="jogos"><button type="button" class="btn btn-outline-primary click">
            comprar
        </button></a>
    </div>
    <div class="botoões">
        <a href="jogos"><button onclick="contarProdutos()"  type="button" class="btn btn-outline-primary click">
            adicionar
        </button></a>

    </div>
   </div>
    
   <div class="sessão-ps5">
       <img class="img-ps5" src="../assets/img/nba-ps5.png" alt="">
       <a href="jogos"><p>NBA 2K21 - ps5</p></a>
       <a class="valor" href="jogos">R$ 189,90</a>
       <div class="botões">
        <a href="jogos"><button type="button" class="btn btn-outline-primary click">
            comprar
        </button></a>
    </div>
    <div class="botoões">
        <a href="jogos"><button onclick="contarProdutos()"  type="button" class="btn btn-outline-primary click">
            adicionar
        </button></a>
    </div>
   </div>
</section>

<!--sessão jogos ps4-->

<h2 class="ps4">PLAYSTATION 4</h2>
<section class="jogos-4">
    <div class="sessão-ps4">
        <img class="img-ps4" src="../assets/img/fortiniteps4.png" alt="">
        <a href="jogos"><p>Fortnite-ps4</p></a>
        <a class="valor" href="#">R$ 179,10</a>
        <div class="botões">
            <a href="jogos"><button type="button" class="btn btn-outline-primary click">
                comprar
            </button></a>
        </div>
        <div class="botoões">
            <a href="jogos"><button onclick="contarProdutos()"  type="button" class="btn btn-outline-primary click">
                adicionar
            </button></a>
        </div>
    </div>
    <div class="sessão-ps4">
        <img class="img-ps4" src="../assets/img/a war out-ps4 1.png" alt="">
        <a href="jogos"><p>A Way Out - Ps4</p></a>
        <a class="valor" href="jogos">R$ 78,00</a>
        <div class="botões">
            <a href="jogos"><button type="button" class="btn btn-outline-primary click">
                comprar
            </button></a>
        </div>
        <div class="botoões">
            <a href="jogos"><button onclick="contarProdutos()"  type="button" class="btn btn-outline-primary click">
                adicionar
            </button></a>
        </div>
    </div>
    <div class="sessão-ps4">
        <img class="img-ps4" src="../assets/img/infitte-ps4 1.png" alt="">
        <a href="jogos"><p>Call Of Duty  Ps4</p></a>
        <a class="valor" href="jogos">R$ 189,90</a>
        <div class="botões">
            <a href="jogos"><button type="button" class="btn btn-outline-primary click">
                comprar
            </button></a>
        </div>
        <div class="botoões">
            <a href="jogos"><button onclick="contarProdutos()"  type="button" class="btn btn-outline-primary click">
                adicionar
            </button></a>
        </div>
    </div>
    <div class="sessão-ps4">
        <img class="img-ps4" src="../assets/img/spider-man -ps4 1 (1).png" alt="">
        <a href="jogos"><p>Spider-man  Ps4</p></a>
        <a class="valor" href="jogos">R$ 139,00</a>
        <div class="botões">
            <a href="jogos"><button   type="button" class="btn btn-outline-primary click">
                comprar
            </button></a>
        </div>
        <div class="botoões">
            <a href="jogos"> <button onclick="contarProdutos()"  type="button" class="btn btn-outline-primary click">
                adicionar
            </button></a>
        </div>

    </div>
    <div class="sessão-ps4">
        <img class="img-ps4" src="../assets/img/ghost-ps4.png" alt="">
        <a href="jogos"><p>Ghost Of Tsushima</p></a>
        <a class="valor" href="jogos">R$ 178,45</a>
        <div class="botões">
            <a href="jogos"><button type="button" class="btn btn-outline-primary click">
                comprar
            </button></a>
        </div>
        <div class="botoões">
            <a href="jogos"><button onclick="contarProdutos()"  type="button" class="btn btn-outline-primary click">
                adicionar
            </button></a>
        </div>
    </div>
</section>

<!--sessão de jogos xbox one-->
<h3 class="xbox-one">
    XBOX ONE</h3>

<section class="jogos-one">
    <div class="sessão-xbox">
        <img class="img-xbox" src="../assets/img/witcher-xboxone_ 1.png" alt=" ">
        <a href="jogos"><p>The Witcher 3</p></a>
        <a class="valor" href="jogos">R$ 104,094</a>
        <div class="botões">
            <a href="jogos"><button type="button" class="btn btn-outline-primary click">
                comprar
            </button></a>
        </div>
        <div class="botoões">
            <a href="jogos"><button type="button" class="btn btn-outline-primary click">
                adicionar
            </button></a>
        </div>
    </div>
    <div class="sessão-xbox">
        <img class="img-xbox" src="../assets/img/spider-xbox 1.png" alt=" ">
        <a href="jogos"><p>Spider-man 2</p></a>
        <a class="valor" href="jogos">R$ 142,99</a>
        <div class="botões">
            <a href="jogos"><button type="button" class="btn btn-outline-primary click">
                comprar
            </button></a>
        </div>
        <div class="botoões">
            <a href="jogos"><button type="button" class="btn btn-outline-primary click">
                adicionar
            </button></a>
        </div>
    </div>
    <div class="sessão-xbox">
        <img class="img-xbox" src="../assets/img/gearsofwar-xboxoner 1.png" alt=" ">
        <a href="jogos"><p>Gears of War 4</p></a>
        <a class="valor" href="jogos">R$ 149,89</a>
        <div class="botões">
            <a href="jogos"><button type="button" class="btn btn-outline-primary click">
                comprar
            </button></a>
        </div>
        <div class="botoões">
            <a href="jogos"><button type="button" class="btn btn-outline-primary click">
                adicionar
            </button></a>
        </div>
    </div>
    <div class="sessão-xbox">
        <img class="img-xbox" src="../assets/img/fifa22-xbox oner_ 1.png" alt=" ">
        <a href="jogos"><p>Fifa 22</p></a>
        <a class="valor" href="jogos">R$ 239,90</a>
        <div class="botões">
            <a href="jogos"><button type="button" class="btn btn-outline-primary click">
                comprar
            </button></a>
        </div>
        <div class="botoões">
            <a href="jogos"><button type="button" class="btn btn-outline-primary click">
                adicionar
            </button></a>
        </div>
    </div>
    <div class="sessão-xbox">
        <img class="img-xbox" src="../assets/img/deadrising3-xbox1 1.png" alt=" ">
        <a href="jogos"><p>Dead Rising 3</p></a>
        <a class="valor" href="jogos">R$ 149,89</a>
        <div class="botões">
            <a href="jogos"><button type="button" class="btn btn-outline-primary click">
                comprar
            </button></a>
        </div>
        <div class="botoões">
            <a href="jogos"><button type="button" class="btn btn-outline-primary click">
                adicionar
            </button></a>
        </div>
    </div>
</section>
<app-footer></app-footer>
